:root{
	--color-contenido:#808080;
	--color-titulos:#222;
	--color-primary:#28d1a2;
	--color-negro:#000;
	--fondo-gris:#f4f4f4;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background-color: #333;
    color: white;
	image-orientation: left;
    text-align: center;
    padding: 10px;
}

#Hero{
	background-color: #1D1C1C;
	text-align: left;
	color: #FFFFFF;
}
nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

h1, h2 {
    color: #333;
}

#Hero{
	text-align: center
}

footer {
    background-color: #333;
    color: #FAFAFA;
    text-align: center;
    padding: 10px;
    position:static;
    bottom: 0;
    width: 100%;
}